* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}
p {
  margin: 0;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
h1 {
  font-weight: 500;
  font-size: 46px;
  color: #9810bd;
  text-align: center;
  /* padding: 30px; */
}
.descript {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.gallery {
  width: 100%;
  max-width: 1280px;
  display: flex;
  gap: 30px;
  margin: 20px auto;
}
.gallery img {
  width: 30%;
}
